<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs de Ação</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .logs-container {
            width: 80%;
            margin: 20px auto;
            border: 1px solid #ddd;
            padding: 10px;
            height: 400px;
            overflow-y: scroll;
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
    <h1>Logs de Ação do Bot</h1>
    <div class="logs-container">
        {% for log in logs %}
            <p>{{ log }}</p>
        {% endfor %}
    </div>
</body>
</html>
MTMzNDYzNzM3OTczNDA4MTYwOA.GQBd-c.mpjq0lOEMFq8jp8Zg8LRjXPznNoLGIldBw3kG8
