<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="/">
        {{ form.csrf_token }}
        <div>
            <label for="username">Username:</label>
            {{ form.username }}
        </div>
        <div>
            <label for="password">Password:</label>
            {{ form.password }}
        </div>
        <div>
            <label for="captcha">Digite o código abaixo:</label><br>
            <img src="data:image/png;base64,{{ captcha_image|b64encode }}" alt="Captcha"><br>
            {{ form.captcha }}
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>
